spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/teacherdemo?serverTimezone=GMT%2B8&useUnicode=true&characterEncoding=utf-8
    username: root
    password:
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.springboot.demo.Entity

#jsp支持
#spring.mvc.view.prefix:
#spring.mvc.view.suffix:

#关闭默认模板引擎
spring.thymeleaf.cache: false
spring.thymeleaf.enabled: false